@font-face {
  font-family: 'iconfont';  /* project id 617354 */
  src: url('//at.alicdn.com/t/font_617354_g3pnw9app9e2vs4i.eot');
  src: url('//at.alicdn.com/t/font_617354_g3pnw9app9e2vs4i.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_617354_g3pnw9app9e2vs4i.woff') format('woff'),
  url('//at.alicdn.com/t/font_617354_g3pnw9app9e2vs4i.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_617354_g3pnw9app9e2vs4i.svg#iconfont') format('svg');
}

.iconfont
  font-family:"iconfont" !important
  font-size:16px
  font-style:normal
  -webkit-font-smoothing: antialiased
  -webkit-text-stroke-width: 0.2px
  -moz-osx-font-smoothing: grayscale

.iconfont_cha
  font-family: "iconfont" !important
  font-size: 30px
  font-style: normal
  -webkit-font-smoothing: antialiased
  -webkit-text-stroke-width: 0.2px
  -moz-osx-font-smoothing: grayscale

.iconfont_cart
  font-size: 26px

.iconfont_add
  font-size: 18px
  color: #57b2fc

.iconfont_del
  font-size: 18px
